:root {
  --primary: #4f7df3;
  --secundary: #c2d3ff;
  --error: #ff5263;
  --gray: #969696;
  --white: #fff;
  --black: #000
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.error {
  border: 1px solid var(--error);
}
.show {
  display: block;
}
main {
  height: auto;
  padding: 8.5rem 2.7rem 3.5rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 5.5rem;
  margin-bottom: 4rem;
}
.htext {
  font-size: 2.3rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 2rem;
}
.htext span {
  color: var(--black);
  font-weight: 700;
}
.subscribe {
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
  font-weight: 400;
}
form {
  display: flex;
  flex-direction: column;
  height: 15.2rem;
}
form div input {
  margin-bottom: 1rem;
  width: 28rem;
  height: 4rem;
  padding-left: 3rem;
  outline: none;
  border-radius: 5rem;
  border: 1px solid var(--secundary);
}
form div input::placeholder {
  color: var(--secundary);
}
form div p {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: var(--error);
  display: none;
  font-weight: 600;
  text-align: center;
}
.submit {
  width: 28rem;
  height: 4rem;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px;
  box-shadow: 0px 10px 16px -5px rgba(79,125,243,0.40);
  -webkit-box-shadow: 0px 10px 16px -5px rgba(79,125,243,0.40);
  -moz-box-shadow: 0px 10px 16px -5px rgba(79,125,243,0.40);
  transition: all 0.4s;
}
.submit:hover {
  background-color: var(--secundary);
  cursor: pointer;
}
.dashboard {
  width: 100%;
  max-width: 64rem;
  margin-bottom: 8rem;
}
.socials {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}
.socialsButton {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--secundary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all .4s;
  color: var(--primary);
}
.socialsButton:hover {
  cursor: pointer;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
}
.copyright {
  color: var(--gray);
  font-size: 1.2rem;
}